# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
dev

.vscode
.idea

# docker-compose env files
.env
.env.template
.eslintignore
.eslintrc.json
.github/ISSUE_TEMPLATE/bug_report.md
.github/ISSUE_TEMPLATE/feature_request.md
.github/ISSUE_TEMPLATE/功能建议.md
.github/ISSUE_TEMPLATE/反馈问题.md
.github/workflows/docker.yml
.github/workflows/sync.yml
.gitpod.yml
.husky/pre-commit
.lintstagedrc.json
.prettierrc.js
app/api/auth.ts
app/api/common.ts
app/api/config/route.ts
app/api/openai/\[...path\]/route.ts
app/client/api.ts
app/client/controller.ts
app/client/platforms/openai.ts
app/command.ts
app/components/button.module.scss
app/components/button.tsx
app/components/chat-list.tsx
app/components/chat.module.scss
app/components/chat.tsx
app/components/emoji.tsx
app/components/error.tsx
app/components/exporter.module.scss
app/components/exporter.tsx
app/components/home.module.scss
app/components/home.tsx
app/components/input-range.module.scss
app/components/input-range.tsx
app/components/markdown.tsx
app/components/mask.module.scss
app/components/mask.tsx
app/components/message-selector.module.scss
app/components/message-selector.tsx
app/components/model-config.tsx
app/components/new-chat.module.scss
app/components/new-chat.tsx
app/components/settings.module.scss
app/components/settings.tsx
app/components/sidebar.tsx
app/components/ui-lib.module.scss
app/components/ui-lib.tsx
app/config/build.ts
app/config/server.ts
app/constant.ts
app/global.d.ts
app/icons/add.svg
app/icons/auto.svg
app/icons/black-bot.svg
app/icons/bot.png
app/icons/bot.svg
app/icons/bottom.svg
app/icons/brain.svg
app/icons/break.svg
app/icons/chat-settings.svg
app/icons/chat.svg
app/icons/chatgpt.png
app/icons/chatgpt.svg
app/icons/clear.svg
app/icons/close.svg
app/icons/copy.svg
app/icons/dark.svg
app/icons/delete.svg
app/icons/down.svg
app/icons/download.svg
app/icons/edit.svg
app/icons/export.svg
app/icons/eye-off.svg
app/icons/eye.svg
app/icons/github.svg
app/icons/left.svg
app/icons/light.svg
app/icons/lightning.svg
app/icons/mask.svg
app/icons/max.svg
app/icons/menu.svg
app/icons/min.svg
app/icons/pause.svg
app/icons/plugin.svg
app/icons/prompt.svg
app/icons/reload.svg
app/icons/rename.svg
app/icons/return.svg
app/icons/send-white.svg
app/icons/settings.svg
app/icons/share.svg
app/icons/three-dots.svg
app/icons/upload.svg
app/layout.tsx
app/locales/cn.ts
app/locales/cs.ts
app/locales/de.ts
app/locales/en.ts
app/locales/es.ts
app/locales/fr.ts
app/locales/index.ts
app/locales/it.ts
app/locales/jp.ts
app/locales/ko.ts
app/locales/ru.ts
app/locales/tr.ts
app/locales/tw.ts
app/locales/vi.ts
app/masks/cn.ts
app/masks/en.ts
app/masks/index.ts
app/masks/typing.ts
app/page.tsx
app/polyfill.ts
app/store/access.ts
app/store/chat.ts
app/store/config.ts
app/store/index.ts
app/store/mask.ts
app/store/prompt.ts
app/store/update.ts
app/styles/animation.scss
app/styles/globals.scss
app/styles/highlight.scss
app/styles/markdown.scss
app/styles/window.scss
app/typing.ts
app/utils.ts
app/utils/format.ts
app/utils/merge.ts
CODE_OF_CONDUCT.md
docker-compose.yml
Dockerfile
docs/cloudflare-pages-cn.md
docs/cloudflare-pages-en.md
docs/faq-cn.md
docs/faq-en.md
docs/images/cover.png
docs/images/enable-actions-sync.jpg
docs/images/enable-actions.jpg
docs/images/icon.svg
docs/images/more.png
docs/images/settings.png
docs/images/vercel/vercel-create-1.jpg
docs/images/vercel/vercel-create-2.jpg
docs/images/vercel/vercel-create-3.jpg
docs/images/vercel/vercel-env-edit.jpg
docs/images/vercel/vercel-redeploy.jpg
docs/vercel-cn.md
LICENSE
next.config.mjs
package.json
public/android-chrome-192x192.png
public/android-chrome-512x512.png
public/apple-touch-icon.png
public/favicon-16x16.png
public/favicon-32x32.png
public/favicon.ico
public/prompts.json
public/robots.txt
public/serviceWorker.js
public/serviceWorkerRegister.js
public/site.webmanifest
README.md
README_CN.md
scripts/fetch-prompts.mjs
scripts/init-proxy.sh
scripts/proxychains.template.conf
scripts/setup.sh
tsconfig.json
vercel.json
yarn.lock
